<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Caveat:wght@400;600;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:wght@400;500;600&family=Lato:ital,wght@0,400;0,900;1,400&display=swap" />
    <link rel="stylesheet" href="/preloader.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alvin Teh</title>
    <meta id="meta-desc" name="description" content="Alvin Teh: Passionate architect, photographer, cook, writer, traveler, guitarist and gamer" />
    <meta id="meta-og-title" property="og:title" content="Alvin Teh" />
    <meta id="meta-og-image" property="og:image" content="/images/og.jpg" />
    <meta id="meta-og-desc" property="og:description" content="Alvin Teh: Passionate architect, photographer, cook, writer, traveler, guitarist and gamer" />
    <meta property="og:type" content="website" />
    <%- prePreloaderScript %>
    <%- preloaderLibScript %>
    <%- postPreloaderScript %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=%VITE_GOOGLE_ANALYTICS_MEASUREMENT_ID%"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '%VITE_GOOGLE_ANALYTICS_MEASUREMENT_ID%');
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
